In [1]:
import pandas as pd
import numpy as np
import sklearn

In [3]:
df = pd.read_csv("hospital_readmissions.csv")
df.head()

,age,time_in_hospital,n_lab_procedures,n_procedures,n_medications,n_outpatient,n_inpatient,n_emergency,medical_specialty,diag_1,diag_2,diag_3,glucose_test,A1Ctest,change,diabetes_med,readmitted
0,[70-80),8,72,1,18,2,0,0,Missing,Circulatory,Respiratory,Other,no,no,no,yes,no
1,[70-80),3,34,2,13,0,0,0,Other,Other,Other,Other,no,no,no,yes,no
2,[50-60),5,45,0,18,0,0,0,Missing,Circulatory,Circulatory,Circulatory,no,no,yes,yes,yes
3,[70-80),2,36,0,12,1,0,0,Missing,Circulatory,Other,Diabetes,no,no,yes,yes,yes
4,[60-70),1,42,0,7,0,0,0,InternalMedicine,Other,Circulatory,Respiratory,no,no,no,yes,no

In [7]:
df.isna()

,age,time_in_hospital,n_lab_procedures,n_procedures,n_medications,n_outpatient,n_inpatient,n_emergency,medical_specialty,diag_1,diag_2,diag_3,glucose_test,A1Ctest,change,diabetes_med,readmitted
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
df.corr()

ValueError: could not convert string to float: '[70-80)'

In [18]:
unique_values = df["medical_specialty"].unique()

In [19]:
from sklearn.preprocessing import OneHotEncoder

In [21]:
encoder = OneHotEncoder()

df["medical_specialty"]

0                       Missing
1                         Other
2                       Missing
3                       Missing
4              InternalMedicine
                  ...
24995                   Missing
24996                   Missing
24997                   Missing
24998    Family/GeneralPractice
24999                   Missing
Name: medical_specialty, Length: 25000, dtype: object