In [3]:
import tensorflow as tf
import sklearn

In [4]:
from tensorflow.keras.layers import Input, Dense
from tensorflow.keras import Sequential

In [5]:
import pandas as pd

df = pd.read_csv("hospital_resubmissions_final.csv")

In [10]:
df.head()

,Unnamed: 0,age,time_in_hospital,n_lab_procedures,n_procedures,n_medications,n_outpatient,n_inpatient,n_emergency,medical_specialty,diag_1,diag_2,diag_3,glucose_test,A1Ctest,change,diabetes_med,readmitted
0,0,3,8,72,1,18,2,0,0,4,0,7,6,1,1,0,1,0
1,1,3,3,34,2,13,0,0,0,5,6,6,6,1,1,0,1,0
2,2,1,5,45,0,18,0,0,0,4,0,0,0,1,1,1,1,1
3,3,3,2,36,0,12,1,0,0,4,0,6,1,1,1,1,1,1
4,4,2,1,42,0,7,0,0,0,3,6,0,7,1,1,0,1,0

In [6]:
df.shape

(25000, 18)

In [19]:
model = Sequential([
    Input(shape = (17,)),
    Dense(1)])

In [20]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 1)                 18

=================================================================
Total params: 18 (72.00 Byte)
Trainable params: 18 (72.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [21]:
model.compile(optimizer="Adam", loss="mse", metrics=["mae"])

In [14]:
X = df.drop("readmitted", axis = 1)
y = df[["readmitted"]]

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [22]:
model.fit(X_train, y_train)

586/586 [==============================] - 0s 263us/step - loss: 634657.5000 - mae: 402.2835

# Model 2 (Deeper Network)

In [24]:
model_2 = Sequential([
    Input(shape = (17,)),
    Dense(32, activation = "relu"),
    Dense(64, activation = "relu"),
    Dense(32, activation = "relu"),
    Dense(1)
])

In [26]:
model_2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 32)                576

 dense_3 (Dense)             (None, 64)                2112

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 4801 (18.75 KB)
Trainable params: 4801 (18.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [29]:
model_2.compile(optimizer = "Adam", loss = "MAE", metrics = [tf.keras.metrics.SparseCategoricalAccuracy()])

In [ ]:
model.

In [31]:
model.fit(X,y, epochs = 20)

Epoch 1/20
782/782 [==============================] - 0s 261us/step - loss: 22.2382 - mae: 3.7895
Epoch 2/20
782/782 [==============================] - 0s 250us/step - loss: 21.3254 - mae: 3.7094
Epoch 3/20
782/782 [==============================] - 0s 251us/step - loss: 20.1082 - mae: 3.5983
Epoch 4/20
782/782 [==============================] - 0s 250us/step - loss: 18.4793 - mae: 3.4456
Epoch 5/20
782/782 [==============================] - 0s 251us/step - loss: 16.4470 - mae: 3.2501
Epoch 6/20
782/782 [==============================] - 0s 249us/step - loss: 14.0291 - mae: 2.9993
Epoch 7/20
782/782 [==============================] - 0s 249us/step - loss: 11.1788 - mae: 2.6743
Epoch 8/20
782/782 [==============================] - 0s 248us/step - loss: 8.1363 - mae: 2.2811
Epoch 9/20
782/782 [==============================] - 0s 250us/step - loss: 5.2855 - mae: 1.8334
Epoch 10/20
782/782 [==============================] - 0s 249us/step - loss: 3.0485 - mae: 1.3938
Epoch 11/20
782/782 [==============================] - 0s 247us/step - loss: 1.5874 - mae: 1.0076
Epoch 12/20
782/782 [==============================] - 0s 249us/step - loss: 0.8484 - mae: 0.7410
Epoch 13/20
782/782 [==============================] - 0s 248us/step - loss: 0.5246 - mae: 0.5914
Epoch 14/20
782/782 [==============================] - 0s 249us/step - loss: 0.3763 - mae: 0.5159
Epoch 15/20
782/782 [==============================] - 0s 248us/step - loss: 0.3439 - mae: 0.5020
Epoch 16/20
782/782 [==============================] - 0s 246us/step - loss: 0.4007 - mae: 0.5295
Epoch 17/20
782/782 [==============================] - 0s 248us/step - loss: 0.6784 - mae: 0.6290
Epoch 18/20
782/782 [==============================] - 0s 248us/step - loss: 0.8141 - mae: 0.6674
Epoch 19/20
782/782 [==============================] - 0s 248us/step - loss: 0.6128 - mae: 0.6010
Epoch 20/20
782/782 [==============================] - 0s 248us/step - loss: 0.5570 - mae: 0.5902