In [3]:
import tensorflow as tf
import sklearn

In [4]:
from tensorflow.keras.layers import Input, Dense
from tensorflow.keras import Sequential

In [5]:
import pandas as pd

df = pd.read_csv("hospital_resubmissions_final.csv")

In [10]:
df.head()

,Unnamed: 0,age,time_in_hospital,n_lab_procedures,n_procedures,n_medications,n_outpatient,n_inpatient,n_emergency,medical_specialty,diag_1,diag_2,diag_3,glucose_test,A1Ctest,change,diabetes_med,readmitted
0,0,3,8,72,1,18,2,0,0,4,0,7,6,1,1,0,1,0
1,1,3,3,34,2,13,0,0,0,5,6,6,6,1,1,0,1,0
2,2,1,5,45,0,18,0,0,0,4,0,0,0,1,1,1,1,1
3,3,3,2,36,0,12,1,0,0,4,0,6,1,1,1,1,1,1
4,4,2,1,42,0,7,0,0,0,3,6,0,7,1,1,0,1,0

In [6]:
df.shape

(25000, 18)

In [19]:
model = Sequential([
    Input(shape = (17,)),
    Dense(1)])

In [20]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 1)                 18

=================================================================
Total params: 18 (72.00 Byte)
Trainable params: 18 (72.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [21]:
model.compile(optimizer="Adam", loss="mse", metrics=["mae"])

In [14]:
X = df.drop("readmitted", axis = 1)
y = df[["readmitted"]]

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [22]:
model.fit(X_train, y_train)

586/586 [==============================] - 0s 263us/step - loss: 634657.5000 - mae: 402.2835

# Model 2 (Deeper Network)

In [24]:
model_2 = Sequential([
    Input(shape = (17,)),
    Dense(32, activation = "relu"),
    Dense(64, activation = "relu"),
    Dense(32, activation = "relu"),
    Dense(1)
])

In [26]:
model_2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 32)                576

 dense_3 (Dense)             (None, 64)                2112

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 4801 (18.75 KB)
Trainable params: 4801 (18.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [29]:
model_2.compile(optimizer = "Adam", loss = "MAE", metrics = [tf.keras.metrics.SparseCategoricalAccuracy()])

In [ ]:
model.

In [36]:
model.fit(X_train,y_train, epochs = 20)

Epoch 1/20
586/586 [==============================] - 0s 308us/step - loss: 0.9798 - mae: 0.7291
Epoch 2/20
586/586 [==============================] - 0s 252us/step - loss: 0.7354 - mae: 0.6555
Epoch 3/20
586/586 [==============================] - 0s 249us/step - loss: 0.5855 - mae: 0.6076
Epoch 4/20
586/586 [==============================] - 0s 247us/step - loss: 0.6512 - mae: 0.6357
Epoch 5/20
586/586 [==============================] - 0s 250us/step - loss: 0.9249 - mae: 0.7086
Epoch 6/20
586/586 [==============================] - 0s 247us/step - loss: 0.5243 - mae: 0.5879
Epoch 7/20
586/586 [==============================] - 0s 250us/step - loss: 0.6043 - mae: 0.6187
Epoch 8/20
586/586 [==============================] - 0s 253us/step - loss: 0.6558 - mae: 0.6350
Epoch 9/20
586/586 [==============================] - 0s 248us/step - loss: 0.8633 - mae: 0.7088
Epoch 10/20
586/586 [==============================] - 0s 248us/step - loss: 0.4766 - mae: 0.5656
Epoch 11/20
586/586 [==============================] - 0s 246us/step - loss: 0.7252 - mae: 0.6589
Epoch 12/20
586/586 [==============================] - 0s 244us/step - loss: 0.5929 - mae: 0.6073
Epoch 13/20
586/586 [==============================] - 0s 248us/step - loss: 0.6378 - mae: 0.6250
Epoch 14/20
586/586 [==============================] - 0s 255us/step - loss: 0.5587 - mae: 0.5977
Epoch 15/20
586/586 [==============================] - 0s 246us/step - loss: 0.6758 - mae: 0.6520
Epoch 16/20
586/586 [==============================] - 0s 251us/step - loss: 0.6811 - mae: 0.6342
Epoch 17/20
586/586 [==============================] - 0s 247us/step - loss: 1.5849 - mae: 0.7629
Epoch 18/20
586/586 [==============================] - 0s 246us/step - loss: 0.3978 - mae: 0.5298
Epoch 19/20
586/586 [==============================] - 0s 246us/step - loss: 0.5976 - mae: 0.6177
Epoch 20/20
586/586 [==============================] - 0s 255us/step - loss: 0.5780 - mae: 0.6062

In [35]:
model.evaluate(X_test, y_test)

196/196 [==============================] - 0s 255us/step - loss: 0.2701 - mae: 0.4595

[0.27010202407836914, 0.4595177471637726]

# Model 3

In [37]:
df

,Unnamed: 0,age,time_in_hospital,n_lab_procedures,n_procedures,n_medications,n_outpatient,n_inpatient,n_emergency,medical_specialty,diag_1,diag_2,diag_3,glucose_test,A1Ctest,change,diabetes_med,readmitted
0,0,3,8,72,1,18,2,0,0,4,0,7,6,1,1,0,1,0
1,1,3,3,34,2,13,0,0,0,5,6,6,6,1,1,0,1,0
2,2,1,5,45,0,18,0,0,0,4,0,0,0,1,1,1,1,1
3,3,3,2,36,0,12,1,0,0,4,0,6,1,1,1,1,1,1
4,4,2,1,42,0,7,0,0,0,3,6,0,7,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,24995,4,14,77,1,30,0,0,0,4,0,6,0,1,2,0,0,1
24996,24996,4,2,66,0,24,0,0,0,4,2,3,6,1,0,1,1,1
24997,24997,3,5,12,0,6,0,1,0,4,6,6,6,2,1,0,0,1
24998,24998,3,2,61,3,15,0,0,0,2,7,1,6,1,1,1,1,0
24999,24999,1,10,37,1,24,0,0,0,4,6,1,0,1,1,0,0,1

In [38]:
from sklearn.preprocessing import StandardScaler

In [39]:
scaler = StandardScaler()

In [42]:
X = scaler.fit_transform(X)

In [52]:
scaler.mean_

array([1.249950e+04, 2.344120e+00, 4.453320e+00, 4.324076e+01,
       1.352360e+00, 1.625240e+01, 3.664000e-01, 6.159600e-01,
       1.866000e-01, 3.458800e+00, 3.297080e+00, 3.334520e+00,
       3.143640e+00, 1.000120e+00, 9.363200e-01, 4.601200e-01,
       7.691200e-01])

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [53]:
from tensorflow import keras

In [54]:
inputs = keras.Input(shape=(17,))
dense = Dense(32, activation = "relu")
x = dense(inputs)
x = Dense(64, activation = "relu") (x)
x = Dense(32, activation = "relu") (x)
output = Dense(1) (x)

In [58]:
model_3 = keras.Model(inputs = inputs, outputs = output)

In [59]:
model_3.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_4 (InputLayer)        [(None, 17)]              0

 dense_6 (Dense)             (None, 32)                576

 dense_7 (Dense)             (None, 64)                2112

 dense_8 (Dense)             (None, 32)                2080

 dense_9 (Dense)             (None, 1)                 33

=================================================================
Total params: 4801 (18.75 KB)
Trainable params: 4801 (18.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
model_3.compile(optimizer = "Adam", loss="MAE",

In [61]:
model_3.fit(X_train, y_train, epochs = 15)

RuntimeError: You must compile your model before training/testing. Use `model.compile(optimizer, loss)`.