In [3]:
import tensorflow as tf
import sklearn

In [4]:
from tensorflow.keras.layers import Input, Dense
from tensorflow.keras import Sequential

In [5]:
import pandas as pd

df = pd.read_csv("hospital_resubmissions_final.csv")

In [10]:
df.head()

,Unnamed: 0,age,time_in_hospital,n_lab_procedures,n_procedures,n_medications,n_outpatient,n_inpatient,n_emergency,medical_specialty,diag_1,diag_2,diag_3,glucose_test,A1Ctest,change,diabetes_med,readmitted
0,0,3,8,72,1,18,2,0,0,4,0,7,6,1,1,0,1,0
1,1,3,3,34,2,13,0,0,0,5,6,6,6,1,1,0,1,0
2,2,1,5,45,0,18,0,0,0,4,0,0,0,1,1,1,1,1
3,3,3,2,36,0,12,1,0,0,4,0,6,1,1,1,1,1,1
4,4,2,1,42,0,7,0,0,0,3,6,0,7,1,1,0,1,0

In [6]:
df.shape

(25000, 18)

In [19]:
model = Sequential([
    Input(shape = (17,)),
    Dense(1)])

In [20]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 1)                 18

=================================================================
Total params: 18 (72.00 Byte)
Trainable params: 18 (72.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [21]:
model.compile(optimizer="Adam", loss="mse", metrics=["mae"])

In [14]:
X = df.drop("readmitted", axis = 1)
y = df[["readmitted"]]

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [22]:
model.fit(X_train, y_train)

586/586 [==============================] - 0s 263us/step - loss: 634657.5000 - mae: 402.2835

In [23]:
model.predict(X_test, y_test)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().